<form ng-submit="vm.submit(vm.emailAddress)">
	<div>
		<label>Enter your email address:
			<input type="email" id="emailAddress" name="emailAddress" ng-model="vm.emailAddress" placeholder="you@yourdomain.com" ng-enter="vm.submit(vm.emailAddress)">
		</label>
	</div>
	<button type="submit">Check Now</button>
</form>
<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr ng-repeat="breachedAccount in vm.breachedAccounts">
			<td>{{breachedAccount.Title}}. <div ng-bind-html="breachedAccount.Description | asHtml"></div></td>
		</tr>
	</tbody>
</table>